//=================================================================
// Functions
//=================================================================

// Import if google Fonts URL is defined

@if variable-exists($font-url--google){
    @import url($font-url--google);
  }
  
  // Calculate to em values
  
  @function em($target, $context: $base__font-size){
    @return ($target / $context) * 1em;
  }
  
  // Call the color palette modifiers (config)
  
  @function palette($palette, $shade: 'base'){
      @return  map-get(map-get($palettes, $palette), $shade); 
  }
  
// Set the "context" width for the grid 

@function g-context($g-col-width, $g-col-count, $g-gutter-width){
  $g-context: ($g-col-width * $g-col-count) + ($g-gutter-width * ($g-col-count - 1));
  @return $g-context;
}
