//=================================================================
// Form
//=================================================================

.form{

    @include e(label){
        display: block;
        margin-bottom: em(10px);
    }

    @include e(input){
        width: 100%;
        font-size: em(18px);
        padding: em(15px, 18px);
        margin-bottom: em(20px, 18px);
        border-bottom: 6px solid palette(grey, x-light);
        border-radius: $br--default;
        background-color: palette(grey, xx-light);
        color: palette(black, dark);
        font-weight: $font-weight--thin;

        &:focus{
            border-color: palette(main-primary, x-light );
        }

    }

    @include e(btn){
        @extend %btn;
        background-color:  $color-primary;
    }

}