//=================================================================
// Images
//=================================================================

.img{

    @include m(wrap){
        padding: em(12px);
    }

    @include m(avatar){
        display: block;
    }

    @include m(hero){
        margin-bottom: em(42px);
    }
}